name: Continuous Integration

on:
  push:
    branches: [ main ]
    paths-ignore:
      - README.md
      - .gitignore
      - Makefile
      - Dockerfile
      - docker-compose.yml
  pull_request:
    branches: [ main ]
    paths-ignore:
      - README.md
      - .gitignore
      - Makefile
      - Dockerfile
      - docker-compose.yml

jobs:

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        php-version: [ '8.2', '8.3', '8.4', '8.5' ]
    steps:
      - uses: actions/checkout@v3

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: none, mbstring, dom, tokenizer, xml, xmlwriter, simplexml, iconv
          coverage: xdebug

      - name: Install Composer Dependencies
        run: composer install

      - name: Lint
        run: vendor/bin/php-cs-fixer fix --dry-run --diff

      - name: Unit Test
        run: vendor/bin/phpunit --colors=always --testdox
